@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Switzer";
    src: url("/fonts/Switzer-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
